
@import "/Users/Andrew/Desktop/TechDegree/Project-4/scss/utilities/_mixins.scss";

.btn--default {
background-color: #6FD3EC;
@include button-normal;
}

.btn--success {
background-color:#63C384;
@include button-normal;
}
.btn--error{
background-color:#D36E70;
@include button-normal;
}
.btn--warning {
background-color:#E8754F;
@include button-normal; 
}
.btn--info{
background-color:#A092BE;
@include button-normal;
}
.theme__colors {
    margin-top: 15px;
    text-transform: uppercase;
}

.grid__col--12 {
display: flex; 
} 
.btn--success.theme__colors,.btn--error.theme__colors,.btn--warning.theme__colors,.btn--info.theme__colors,.btn--default.theme__colors {
    @include desktop {
    margin-left: 0;
    }
}