
@import "/Users/Andrew/Desktop/TechDegree/Project-4/scss/utilities/_mixins.scss";

.btn--default {
background-color: #6FD3EC;
@include button-normal;
}

.btn--success {
background-color:#63C384;
@include button-normal;
}
.btn--error{
background-color:#D36E70;
@include button-normal;
}
.btn--warning {
background-color:#E8754F;
@include button-normal; 
}
.btn--info{
background-color:#A092BE;
@include button-normal;
}
.theme__colors {
    margin-top: 15px;
    text-transform: uppercase;
}
