@import "/Users/Andrew/Desktop/TechDegree/Project-4/scss/utilities/_mixins.scss";
@import "/Users/Andrew/Desktop/TechDegree/Project-4/scss/utilities/_variables.scss";


.grid__col--12.theme__colors{
@include grid-normal;
background-color: #80e8d1;
}
.grid__col--6.theme__colors{
@include grid-normal;
background-color: #3fabca;
}
.grid__col--4.theme__colors{
@include grid-normal;
background-color: #7ee6fd;
} 
.grid__col--3.theme__colors{
@include grid-normal;
background-color:#deb2ee;
}
.grid__col--5.theme__colors{
@include grid-normal;
background-color: #88d9a0;
}
.grid__col--7.theme__colors{
@include grid-normal;
background-color: #ec9fa3
}
.grid__col--8.theme__colors{
@include grid-normal;
background-color: #fd9f85;
}
 
.grid__row { 
margin-bottom: 30px;
}             

.grid__col--8 .card {
    width: 100%;
    margin-left: 2%; 
    margin-right: 0;
 
    display: inline-block; 

}
.form .img--avatar {
    @include desktop {
    width:50%;
    height: 50%;
    }

    
} 

.form {
    @include desktop {
    width: 100%;
    display: inline-block; 
    float:right;
    }

 
}
.grid__col--8 {
    @include desktop {
    width: 60%;
    display: inline-block;
    margin-right: 80px;
    }

}
.grid__col--4 { 
    @include desktop {
    width: 31%;
    display: inline-block; 
    }

   
}
