.img--avatar { 
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
margin-bottom: 8%;

}

.grid__col--6 .img--avatar { 
    @include desktop {
        width:40%;
        margin: 0;
    height: 40%;
    padding-left: 60%;
    
    }
} 


.grid__col--6 {
    @include desktop {
    width: 40%; 
    height: 40%;
    display: inline-block;
    }
} 
.img--frame {
    width: 80%; 
    margin-left: 6.5%;
    margin-right: 9.5%;  
    padding: 3%;
    @include desktop {
        margin: 0;
        margin-left: 20%;
     
    }
}