.img--avatar {
    width: 50%;
    height: 50vw;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
margin-bottom: 7%;
}

.img--frame {
    width: 80%;
    margin-left: 6.5%;
    margin-right: 9.5%;
    padding: 3%;
    border: 1px solid gray;
    @include desktop {
        width:30%;
    }
}