.nav {
    list-style-type: none;
    width: 90%;
    margin-top: 30px;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%; 
    @include desktop {
      float: right;
      width: 60%;
      height:40px;
      display: flex;
      margin-left: 0;
      margin-top: 45px; 

}
  }
  
  .nav__item { 
    background-color: #5FE0C1;
    margin-bottom: 15px;
    height: 50px;  
    border-radius: 10px;
    text-align: center; 
    font-size: 25px;  
    text-decoration: none;  
    line-height: 50px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    @include desktop { 
width:10vw;  
font-size: 16px;
padding: 5px;
float: left;
margin-left: 1vw;
margin-right: 1vw; 
height: 40px;
line-height: 40px;
    } 

}
  
   
  
  .nav__item:hover {
    transition-duration:.3s;
    background-color: darken($color: #5FE0C1, $amount:15) ;
  }
  
  .nav__item a {
    text-decoration: none;
    color: white;
  }
  